@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #f6f6f6;
  color: #000;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h3 {
  font-size: 20px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  height: 95px;
}

.header__content {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  background-color: #fff;
}

.logo-title {
  margin-left: 16px;
  font-size: 45px;
  font-weight: 700;
}

.nav ul {
  display: flex;
}

.nav ul li:not(:first-child) {
  margin-left: 50px;
}

.nav ul li a {
  font-size: 20px;
  transition: all 0.5s linear;
}

.nav ul li a:hover {
  color: #893742;
}

.search {
  margin-right: 30px;
}


.slider {
  width: 100vw;
  /* height: 500px; */
}

.slick-slide {
  position: relative;
  outline: none;
}

.slider img {
  width: 100vw;
  height: auto;
}

.slider figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 2;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev {
  left: 160px;
}

.next {
  right: 160px;
}

.slick-dots {
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

.dot {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 18px;
}

.slick-active > .dot {
  background-color: #893742;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.slider-title {
  max-width: 516px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  font-size: 65px;
}

.cards {
  margin-top: 50 px;
}

.card {
  margin-top: 50px;
  width: 358px;
}

.card-md {
  margin-top: 50px;
  width: 263px;
}

.cards__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card__text {
  text-align: center;
}

.pretitle {
  margin-top: 14px;
  font-weight: 600;
  font-size: 25px;
}

.card__text p {
  margin-top: 4px;
  text-align: center;
  font-size: 16px;
}

.googlemap {
  margin-top: 100px;
  margin-bottom: 45px;
}

.socials ul {
  display: flex;
  justify-content: space-between;
}

.socials ul li {
  display: flex;
  align-items: center;
}

.socials ul li a {
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.footer {
  margin: 100px 0 37px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer nav ul li:first-child {
  margin-left: 0;
}

.copyright {
  margin-top: 15px;
  font-weight: 300;
  font-size: 16px;
}

.block {
  margin-top: 125px;
}

.btn-container {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  width: 214px;
  height: 55px;
  background: #893742;
  border-radius: 51px;
  font-size: 20px;
  color: #fff;
  padding: 14px 47px;
}

.buy-btn {
  padding: 14px 56px;
}

.rings-btn {
  margin-top: 20px;
}

.price {
  display: block;
  margin-top: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  color: #DB9C47;
}

.ring__info {
  margin-top: 50px;
  display: flex;
}

.ring__info-bottom {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ring__info span {
  display: block;
}

.ring__info ul {
  margin-top: 30px;
}

.describe {
  margin-left: 30px;
  font-size: 18px;
}

.more-info {
  font-size: 18px;
  margin: 50px 0;
  text-align: center;
}

.more-info p {
  margin: 0 auto;
  max-width: 650px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.more-info span {
  display: block;
}

.about-card {
  display: flex;
  margin: 50px 0;
}

.about-text {
  margin-top: 80px;
  text-align: center;
}

.about-text p {
  max-width: 555px;
  margin-right: 30px;
  margin-left: 30px;
  line-height: 27px;
  font-size: 20px;
}

.about-text p:first-child {
  margin-bottom: 20px;
}

.adress {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adress span {
  font-size: 20px;
}

.bold {
  margin: 34px 0 17px 0;
  font-weight: 600;
}

.index__nav ul li:nth-child(1) a {
  color: #893742;
}

.about__nav ul li:nth-child(2) a {
  color: #893742;
}

.shop__nav ul li:nth-child(3) a {
  color: #893742;
}

.contact__nav ul li:nth-child(4) a {
  color: #893742;
}

@media (max-width: 1440px) {
  .slick-arrow {
    display: none;
  }
}

@media (max-width: 1080px) {
  .slider-title {
    font-size: 50px
  }

  .slick-dots {
    bottom: 30px;
  }

  .cards {
    margin: 30px;
  }
}


@media (max-width: 800px) {
  .header {
    height: auto;
  }

  .header__content {
    flex-direction: column;
  }

  .nav {
    margin: 30px 0;
  }

  .right {
    margin-bottom: 30px;
  }

  .socials {
    margin-left: 50%;
    transform: translate(-50%, 0);
  }

  .socials ul {
    flex-direction: column;
  }

  .socials ul li:not(:first-child) {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .slider-title {
    font-size: 40px;
    margin-bottom: 50px;
  }

  .cards__content {
    justify-content: center;
  }

  .cards {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .slider-title {
    font-size: 30px;
  }
}

@media (max-width: 468px) {
  .slider {
    height: 200px;
  }

  .slider img{
    height: 200px;
  }

  .slider-title {
    font-size: 28px;
  }

  .slick-dots {
    bottom: 10px;
  }

  .nav ul li:not(:first-child) {
    margin-left: 25px;
  }

  .nav ul li a {
    font-size: 14px;
  }

  .card img{
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .socials {
    margin-left: 30%;
    transform: translate(-30%, 0);
  }

  .googlemap {
    margin-top: 50px;
  }

  .footer {
    margin: 50px 0 25px 0;
  }
}